{% extends "base.html" %}

{% block meta %}
    <title>Rated Foods | Halal Bites</title>
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock meta %}

{% block content %}
<div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold text-blue-800 mb-8">Rated Foods</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for food in foods %}
            <div class="restaurant-card bg-white border border-gray-200 rounded-lg shadow-lg p-6 text-center transform transition duration-300 hover:scale-105">
                <div class="relative">
                    <a href="{% url 'food:food_detail' food.id %}">
                        <img class="w-full h-64 object-cover" src="{{ food.image }}" alt="{{ food.name }}">
                    </a>
                </div>
                <div class="p-4">
                    <div class="text-blue-800 font-bold text-lg mb-2">
                        {{ food.name }}
                    </div>
                    <div class="text-sm text-gray-600 mb-2">
                        Price: {{ food.price }}
                    </div>
                    <div class="text-sm text-gray-600">
                        Promo: {{ food.promo }}
                    </div>
                    <div class="text-sm text-gray-600">
                        Average Rating: {{ food.get_average_rating }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}