{% extends "base.html" %}

{% block meta %}
    <title>Rate {{ food.name }} | Halal Bites</title>
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock meta %}

{% block content %}
<div class="container mx-auto py-8">
    <div class="bg-white rounded-lg shadow-lg p-6">
        <h1 class="text-3xl font-bold text-blue-800 mb-4">Rate {{ food.name }}</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="bg-green-500 text-white rounded-md px-4 py-2 hover:bg-green-600">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}