<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Tracker</title>
    
</head>
<body>
    <div class="container">
 
        <main>
            <div class="tracker-section">
                {% if food_tracker %}
                    <h2>Your Food Tracker</h2>
                    <ul>
                        {% for track in food_tracker %}
                            <li>{{ track.food.name }} at {{ track.restaurant.name }} - Rated {{ track.rating.score }} by you on {{ track.order_at|date:"F j, Y" }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h2>Food Tracker is Empty 😢</h2>
                    <p>Track your orders now!</p>
                {% endif %}
                <button id="add-tracking-btn">+ Add Food Tracking</button>
            </div>

            <!-- Form to Add Food Tracking -->
            <div id="add-tracking-form" class="hidden">
                <h2>Add Food Tracking</h2>
                <form method="post" action="{% url 'tracker:add_food_tracking' %}">
                    {% csrf_token %}
                    <label for="food">Food Title:</label>
                    <select name="food" id="food">
                        {% for food in ordered_foods %}
                            <option value="{{ food.id }}">{{ food.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="rating">Rating:</label>
                    <select name="rating" id="rating">
                        {% for rating in user_ratings %}
                            <option value="{{ rating.id }}">Rated {{ rating.score }} - {{ rating.comment }}</option>
                        {% endfor %}
                    </select>

                    <label for="order_at">Order Date:</label>
                    <input type="date" name="order_at" id="order_at" required>

                    <button type="submit">Submit</button>
                </form>
            </div>
        </main>

    </div>

    <script>
        const addTrackingBtn = document.getElementById('add-tracking-btn');
        const addTrackingForm = document.getElementById('add-tracking-form');

        addTrackingBtn.addEventListener('click', () => {
            addTrackingForm.classList.toggle('hidden');
        });
    </script>
</body>
</html>
