{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Food Tracker</title>
<link rel="stylesheet" href="{% static 'tracker/style.css' %}">
{% endblock meta %}


{% block content %}
    <div class="container">
 
        <main>
            <div class="tracker-section">
                {% if food_tracker %}
                    <h2>Your Food Tracker</h2>
                    <ul>
                        {% for track in food_tracker %}
                            <li>{{ track.food.name }} at {{ track.restaurant.name }} - Rated {{ track.rating.score }} by you on {{ track.order_at|date:"F j, Y" }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h2>Food Tracker is Empty 😢</h2>
                    <p>Track your orders now!</p>
                {% endif %}
                <button id="add-tracking-btn">+ Add Food Tracking</button>
            </div>
        </main>

    </div>
{% endblock content%}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const addTrackingBtn = document.getElementById('add-tracking-btn');
        const addTrackingForm = document.getElementById('add-tracking-form');

        addTrackingBtn.addEventListener('click', () => {
            addTrackingForm.classList.toggle('hidden');
        });
    });
</script>
{% endblock script %}
