<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main - HalalBites</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% include 'navbar.html' %}

</head>
<body class="bg-gray-100 min-h-screen flex flex-col">
    <!-- Main Content -->
    <div class="flex-grow flex items-center justify-center">
        <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg text-center">
            <h1 class="text-3xl font-bold text-yellow-500">HalalBites</h1>
            <p class="text-xl font-semibold text-yellow-500 mt-2">Finding Halal Foods for People in Bandung</p>
        </div>
    </div>
</body>
</html>